<h1>Usuarios</h1>

<a href="{% url 'dashboard_admin' %}">
    Volver al Dashboard
</a>

<h1>Usuarios</h1>

<a href="{% url 'dashboard_admin' %}">Volver al Dashboard</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>

    {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.role }}</td>

            <td>
                {% if usuario.activo %}
                    Activo
                {% else %}
                    Dado de baja
                {% endif %}
            </td>

            <td>
                <a href="{% url 'editar_usuario' usuario.id %}">Editar</a>

                {% if usuario.activo %}
                    <a href="{% url 'cambiar_estado_usuario' usuario.id %}">
                        Dar de baja
                    </a>
                {% else %}
                    <a href="{% url 'cambiar_estado_usuario' usuario.id %}">
                        Reactivar
                    </a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6">No hay usuarios registrados.</td>
        </tr>
    {% endfor %}
</table>