# Entorno y variables
venv/
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc

# Bases de datos locales
db.sqlite3
*.sqlite3
lozai_db

# IDE
.vscode/
.idea/

# Logs
*.log

# Archivos temporales y backups
*.zip
*.bak
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db