<h1>Crear Máquina</h1>
{% if error %}
    <p style="color:red;">
        {{ error }}
    </p>
{% endif %}

<form method="post">
{% csrf_token %}
    <p>
        Nombre:
        <input type="text" name="nombre">
    </p>

    <p>
        IP:
        <input type="text" name="ip">
    </p>

    <p>
        Estado:
        <select name="estado">
            <option value="activa">Activa</option>
            <option value="inactiva">Inactiva</option>
        </select>
    </p>

    <button type="submit">
        Guardar
    </button>
</form>

<a href="{% url 'listar_maquinas' %}">
    Volver
</a>