<h1>Máquinas</h1>

<a href="{% url 'crear_maquina' %}">Crear máquina</a>
<a href="{% url 'dashboard_tecnico' %}">Volver al dashboard</a>

<table border="1">

    <tr>
        <th>Nombre</th>
        <th>IP</th>
        <th>Estado</th>
        <th>Activa</th>
        <th>Acciones</th>
    </tr>

    {% for maquina in maquinas %}
        <tr>

            <td>{{ maquina.nombre }}</td>
            <td>{{ maquina.ip }}</td>
            <td>{{ maquina.estado }}</td>

            <td>
                {% if maquina.activo %}
                    Activa
                {% else %}
                    Dada de baja
                {% endif %}
            </td>

            <td>

                <a href="{% url 'chat_maquina' maquina.id %}">
                    Abrir LozAI
                </a>

                |

                <a href="{% url 'editar_maquina' maquina.id %}">
                    Editar
                </a>

                |

                {% if maquina.activo %}
                    <a href="{% url 'eliminar_maquina' maquina.id %}">
                        Dar de baja
                    </a>
                {% else %}
                    <a href="{% url 'eliminar_maquina' maquina.id %}">
                        Reactivar
                    </a>
                {% endif %}

            </td>

        </tr>

    {% empty %}

        <tr>
            <td colspan="5">
                No hay máquinas registradas.
            </td>
        </tr>

    {% endfor %}

</table>